body {
    background-image: url("mm.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    text-align: center;
    
  }



.oo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-right: 100px;
    margin-left: 100px;
    
}

.oo0{
    color: rgba(206, 206, 206, 0.801);
    font-size: 25px;
  
}

.mmm{
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

